/* You can add global styles to this file, and also import other style files */
.between{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
}